flows/Manual_Test_Run_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Manual Test Run Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Manual Test Run Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetUserStory</name>
        <label>GetUserStory</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateUS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>copado__Manual_Step_Required__c</queriedFields>
        <queriedFields>copado__Manual_Tests_Passed__c</queriedFields>
        <queriedFields>copado__Environment__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUS</name>
        <label>UpdateUS</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Environment__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Environment__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Manual_Tests_Passed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetUserStory</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passed</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Passed with comments</stringValue>
            </value>
        </filters>
        <object>copado__Test_Run__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
