flows/Vlocity_EPC_Deploy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute</name>
        <label>Execute</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <actionName>VlocityEPCDeployAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configuration</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>selectedDestinations</name>
            <value>
                <elementReference>Select_Target_Environments</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_ids_to_default_values</name>
        <label>Assign ids to default values</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>default_value_for_checkbox_group</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Id_comma_separated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_default_value_for_all_selected</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Target_Environments</name>
        <collectionReference>Get_Target_Environments</collectionReference>
        <dataType>String</dataType>
        <displayField>Environment_Name__c</displayField>
        <object>VlocityEPCDeployDestination__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>Id_comma_separated</name>
        <dataType>String</dataType>
        <expression>{!Create_default_value_for_all_selected.Id} &amp; &quot;;&quot;</expression>
    </formulas>
    <interviewLabel>Vlocity EPC Deploy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vlocity EPC Deploy</label>
    <loops>
        <name>Create_default_value_for_all_selected</name>
        <label>Create default value for all selected</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Target_Environments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_ids_to_default_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Run_Deployment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Target_Environments</name>
        <label>Get Target Environments</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_default_value_for_all_selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Configuration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>VlocityEPCDeployDestination__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;There was an error in this flow:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishedMessage</name>
            <fieldText>&lt;p&gt;The process has started. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can monitor the progress by closing this screen, navigating to the Destination record you want to follow, and clicking the &quot;Real-Time Logs&quot; button&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Run_Deployment</name>
        <label>Run Deployment</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Execute</targetReference>
        </connector>
        <fields>
            <name>Run_Deployment_Help</name>
            <fieldText>&lt;p&gt;You are going to deploy &quot;{!recordId.Name}&quot; with source branch &quot;{!recordId.Source_Branch__c}&quot; to the following environments:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Select_Target_Environments</name>
            <choiceReferences>Target_Environments</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>default_value_for_checkbox_group</elementReference>
            </defaultValue>
            <fieldText>Select Target Environments</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Target_Environments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>default_value_for_checkbox_group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VlocityEPCConfiguration__c</objectType>
    </variables>
</Flow>
