flows/Vlocity_EPC_Quick_Deploy.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Start_Deployment</name>
        <label>Start Deployment</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <actionName>VlocityEPCDeployAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>View_Logs</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>configuration</name>
            <value>
                <elementReference>config</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <interviewLabel>Vlocity EPC Deploy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vlocity EPC Quick Deploy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Destination</name>
        <label>Create Destination</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>destination.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Start_Deployment</targetReference>
        </connector>
        <inputAssignments>
            <field>Configuration__c</field>
            <value>
                <elementReference>config.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Environment__c</field>
            <value>
                <elementReference>Destination_Environment.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>VlocityEPCDeployDestination__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Main_Object</name>
        <label>Create Main Object</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignRecordIdToReference>config.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Destination</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Deployment to {!Destination_Environment.recordName}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pipeline__c</field>
            <value>
                <elementReference>Pipeline.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_Branch__c</field>
            <value>
                <elementReference>Git_Branch_Name</elementReference>
            </value>
        </inputAssignments>
        <object>VlocityEPCConfiguration__c</object>
    </recordCreates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message1</name>
            <fieldText>&lt;p&gt;There was an error executing the Action:&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectSourceDest</name>
        <label>SelectSourceDest</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Main_Object</targetReference>
        </connector>
        <fields>
            <name>Pipeline</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Pipeline</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pipeline__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>VlocityEPCConfiguration__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Git_Branch_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>main</stringValue>
            </defaultValue>
            <fieldText>Git Branch Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Destination_Environment</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Destination Environment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Environment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>VlocityEPCDeployDestination__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SelectSourceDest</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>View_Logs</name>
        <label>View Logs</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <flowName>Vlocity_EPC_Deploy_Log_Viewer_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>destination</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>config</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VlocityEPCConfiguration__c</objectType>
    </variables>
    <variables>
        <name>destination</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VlocityEPCDeployDestination__c</objectType>
    </variables>
</Flow>
